====header
<html>
 <head>
  <title>{NAME}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style>
	body { background:{COLOR.BG} }
	.datesep {background-color:{COLOR.DATESEP.BG}; color:{COLOR.TEXT}; text-align: center ; margin-top: 2px;}
	.me  {background-color:{COLOR.MINE.BG}; color:{COLOR.MINE.FORE}; margin-top: 4px;}
	.other  {background-color:{COLOR.OTHER.BG}; color:{COLOR.OTHER.FORE}; margin-top: 4px;}
	.outer {width:100%}
    .inner {  width: 600px;  margin: 0 auto; }
    .title { background-color:{COLOR.TITLE.BG}; color:{COLOR.TEXT}; width:100%; text-align: center; }
    .namemine { color:{COLOR.NAME.MINE.FORE}; font-family:arial; margin-left:2px; }
    .nameother { color:{COLOR.NAME.OTHER.FORE}; font-family:arial; margin-left:2px; }
    .text { margin-left:10px; font-family:arial; font-size:90% }
    .tmmine { font-size:70%; color:{COLOR.TIME.MINE.FORE}; float:right; padding-top:5px; }
    .tmother { font-size:70%; color:{COLOR.TIME.OTHER.FORE}; float:right; padding-top:5px; }
  </style>
 </head>
 <body>
<div class="outer">  
  <div class="inner">
   <div class="title">{NAME}</div>
====footer
  </div></div>
 </body>
<html>
====mine
<div class="me"><div class="text">{TEXT}<span class="tmmine">{TIME}</span></div></div>
====namedmine
<div class="me"><div class="namemine">{NAME}</div><div class="text">{TEXT}<span class="tmmine">{TIME}</span></div></div>
====other
<div class="other"><div class="text">{TEXT}<span class="tmother">{TIME}</span></div></div>
====namedother
<div class="other"><div class="nameother">{NAME}</div><div class="text">{TEXT}<span class="tmother">{TIME}</span></div></div>
====dateseparator
<div class="datesep">{TIME}</div>
====replace
linebreak=<br>
link=`<a href="{LINK}">{LINK}</a>`
bb-b=<b>
be-b=</b>
bb-i=<i>
be-i=</i>
bb-s=<strike>
be-s=</strike>
bb-u=<u>
be-u=</u>
